server:
  port: 8095
spring:
  application:
    name: redbook-service-product
  cloud:
    nacos:
      discovery:
        server-addr: 10.1.40.66:8848
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/rb_product?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&useSSL=false&allowPublicKeyRetrieval=true
    username: root
    password: 1234
  data:
    redis:
      host: 10.1.40.66
      port: 6379
#      password: 123321
      database: 0
      timeout: 3000ms
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
    mongodb:
    #      host: 10.1.40.66
    #      port: 27017
    #      database: redbook
    #      username: admin
    #      password: 123321
    #      authentication-database: admin
      uri: mongodb://admin:123321@10.1.40.66:27017/redbook?authSource=admin
  rabbitmq:
    host: 10.1.40.66
    port: 5672
    username: admin
    password: 123321
    virtual-host: /
    listener:
      simple:
        retry:
          enabled: true
          initial-interval: 1000ms
          max-interval: 10000ms
          multiplier: 2
          max-attempts: 3
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.slf4j.Slf4jImpl
  global-config:
    db-config:
      id-type: auto
logging:
  pattern:
    console: "%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - [traceId=%X{traceId}] [req=%X{req}] [uid=%X{uid}] %msg%n"
  level:
    com.baomidou.mybatisplus: DEBUG
    org.apache.ibatis: DEBUG
    # 你的 mapper 包路径也可以加上，确保能看到
    com.itcast: DEBUG
    com.itcast.mapper: DEBUG

