server:
  port: 10010
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    urls:
      - name: message-service
        url: /api/message/v3/api-docs
    enabled: true
spring:
  profiles:
    active: dev
  main:
    web-application-type: reactive
  application:
    name: redbook-gateway
  cloud:
    gateway:
      routes:
        # ============ message-service Swagger(OpenAPI) 文档路由 ============
        - id: redbook-service-message-api-docs
          uri: lb://redbook-service-message
          predicates:
            - Path=/api/message/v3/api-docs/**
          filters:
            - StripPrefix=2   # 去掉 /api/message，转发给下游 /v3/api-docs/**
        # 用户服务路由
        - id: redbook-service-user
          uri: lb://redbook-service-user
          predicates:
            - Path=/api/user/**
          filters:
            - StripPrefix=1   # 把 /api 去掉，微服务实际收到的是 /user/...

        # 笔记服务路由
        - id: redbook-service-note
          uri: lb://redbook-service-note
          predicates:
            - Path=/api/note/**
          filters:
            - StripPrefix=1

        # 商品服务路由 (含店铺)
        - id: redbook-service-product
          uri: lb://redbook-service-product
          predicates:
            - Path=/api/product/**, /api/shop/**
          filters:
            - StripPrefix=1

        # 订单服务路由
        - id: redbook-service-order
          uri: lb://redbook-service-order
          predicates:
            - Path=/api/order/**
          filters:
            - StripPrefix=1

        # 评论服务路由
        - id: redbook-service-comment
          uri: lb://redbook-service-comment
          predicates:
            - Path=/api/comment/**
          filters:
            - StripPrefix=1

        # 搜索服务路由
        - id: redbook-service-search
          uri: lb://redbook-service-search
          predicates:
            - Path=/api/search/**
          filters:
            - StripPrefix=1

        # 消息服务路由
        - id: redbook-service-message
          uri: lb://redbook-service-message
          predicates:
            - Path=/api/message/**
          filters:
            - StripPrefix=1
        
        # WebSocket 路由可以保持不变
        - id: redbook-netty-websocket
          uri: lb://redbook-netty-websocket
          predicates:
            - Path=/ws/**
          filters:
            - RewritePath=/ws/(?<segment>.*), /${segment}
