server:
  port: 10010
spring:
  application:
    name: redbook-gateway
  cloud:
    nacos:
      discovery:
        server-addr: 10.1.40.66:8848
    gateway:
      routes:
        # 用户服务路由
        - id: redbook-service-user
          uri: lb://redbook-service-user
          predicates:
            - Path=/api/user/**
          filters:
            - StripPrefix=1   # 把 /api 去掉，微服务实际收到的是 /user/...

        # 笔记服务路由
        - id: redbook-service-note
          uri: lb://redbook-service-note
          predicates:
            - Path=/api/note/**
          filters:
            - StripPrefix=1

        # 商品服务路由
        - id: redbook-service-product
          uri: lb://redbook-service-product
          predicates:
            - Path=/api/product/**
          filters:
            - StripPrefix=1

        # 订单服务路由
        - id: redbook-service-order
          uri: lb://redbook-service-order
          predicates:
            - Path=/api/order/**
          filters:
            - StripPrefix=1

        # 评论服务路由
        - id: redbook-service-comment
          uri: lb://redbook-service-comment
          predicates:
            - Path=/api/comment/**
          filters:
            - StripPrefix=1

        # 搜索服务路由
        - id: redbook-service-search
          uri: lb://redbook-service-search
          predicates:
            - Path=/api/search/**
          filters:
            - StripPrefix=1

        # WebSocket 路由可以保持不变
        - id: redbook-netty-websocket
          uri: lb://redbook-netty-websocket
          predicates:
            - Path=/ws/**
          filters:
            - RewritePath=/ws/(?<segment>.*), /${segment}
